* {
    margin: 0%;
    padding: 0%;
    font-family: 'DM Sans', sans-serif;
    /* background-color: #282828; */
    opacity: 99%;
    z-index: 1;
}



body {
    background-image: url(./background/backgroud.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}



h1 {
    font-size: 10vh;
    margin-bottom: 10px;

}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address {
    color: white;
}

footer {
    display: flex;
    flex-direction: column;

}

ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: center;
}

ul li {
    margin: 20px;
}

section {
    margin: 0%;

}


img {
    width: 150px;
    height: 150px;
}


div {
    width: 860px;
    height: 150px;
    padding: 30px;
    background-image: none;
}

h5 {
    background-image: none;
}

img {
    background-image: none;
}

article {
    display: flex;
    flex-direction: row-reverse;
    background-image: none;
    background-color: #131212;

    height: auto;
    width: 1200px;

    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;

    box-shadow: inset 3px 3px 3px 3px #0c0c0c;
    text-shadow: 1px 1px 1px 1px #232323;


}

h3 {
    background-image: none;
    background-color: #282828;
}




article>.product_div {
    box-shadow: inset 3px 3px 3px 3px #0c0c0c;
    text-shadow: 1px 1px 1px 1px #232323;
    display: flex;
    background-color: #131212;
    flex-direction: column;
    width: 80%;
    height: auto;
    padding: 0%;

}

article>.asideproduct {
    background-color: #282828;
    height: auto;
    width: 20%;
}

.product_div {
    background-color: black;
}

.product_div>section>div>h5 {
    margin-left: 30px;

}

.product_div>section>div {
    box-shadow: inset 3px 3px 3px 3px #101010;
    text-shadow: 1px 1px 1px 1px #0a0a0a;
    background-color: #282828;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.h2aside {
    background-color: #282828;
    padding: 5px;
    text-align: center;
    padding-top: 30px;
}

.searchbar {
    padding-top: 10px;
}

.productlistbox {
    background-color: #282828;
    text-align: center;
    height: auto;
    width: auto;
    padding: 0%;
}

.checkinput {
    background-color: #282828;
    display: flex;
    margin: 0%;
    margin-top: 6px;
    margin-left: 80px;
    padding: 0%;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.tecladorow {
    background-color: #282828;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    opacity: 50%;
    margin: 10px;
    padding: 10px;
    transition: 0.5s;

}

.tecladorow:hover {
    opacity: 100%;
    padding: 20px;
}

.address {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.searchbar {
    background-color: #282828;
    height: 20px;
    width: auto;
}

.Codergaming {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

.asideproduct {
    margin-top: 18px;
    margin-left: 10px;
}

#tecladodiv,
#componentediv, 
#auricularesdiv,
#cablesdiv,
#juegosdiv,
#mousesdiv {
    display: flex;
}

#tecladodiv > .kurama_1 {
   height: 70px;
   padding-top: 35px;
}



.priceticket {
    margin-left: 10px;
    padding-top: 10px;
}

.priceticket > h5 {
    font-size: 2.5vh;
    margin: 5px;
}

.priceticket > .buttonshop {
    border-radius: 5px;
    width: 150px;
    height: 30px;
    pointer-events: painted;
    margin-top: 10px;
    transition: 0.5s;
}

.buttonshop:hover {
    background-color: rgb(195, 195, 195);
    cursor: pointer;
    width: 152px;
    height: 32px;
}

#productodiv {
    height: 2000px;
}

.productoh3 {
    text-align: center;
    
}

.totalapagar {
    width: 140px;
}

.carritoproduct {
    
    margin: 10px;
    padding: 0%;
    width: 210px;
    height: 140px;
    transition: 3s;
    opacity: 60%;
    display: flex;
    flex-direction: column;
}



#pagarx {
    margin-left:39.5%;
    transition: 1s;
    font-size: 16px;
    color: aliceblue;
}

#pagarx:hover {
    font-size: 22px;
    margin-left: 35%;
}

.carritoproduct:hover {
   
    opacity: 100%;
  
}

.h4carrito {
    margin-top: 12px;
    font-size: 22px;
    width: auto;
    text-align: center;
    transition: 1s;
}

.h4carrito:hover {
    
}


.carritoicon {
    margin: 5px;
    width: 55px;
    height: 55px;
    transition: 1s;
    margin-left: 34%;
    
}

.carritoicon:hover {
    width: 70px;
    height: 70px;
    margin-left: 30%;
}

.productitemstyle {
    margin: 10px;
    text-align: center;
    font-size: 18px;
}

#productlist {
    width: 180px;
    height: auto;
}

.deletebutton {
    height: 12px;
    width: 20px;
    font-size: 0px;
    position: relative;
    left: 5px;
    bottom: 1.5px;
    background-color: lightcoral;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s;


}

.deletebutton:hover {
    background-color: red;
}

#margin {
    margin: 5px;
}

.teclados,
.componentes,
.auriculares,
.juegos,
.mouse,
.cables {
    visibility: hidden;
    opacity: 0;
    order: 1;
}

